.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
  }

  .logo {
    height: 120px;
    margin-right: 10px;
  }
